*.TXT		text
*.bat		eol=crlf
*.borland	text
*.c		text
*.cfg		text
*.cpp		text
*.cs		text
*.dev		text
*.dfm		text
*.dof		text
*.dox		text
*.dpk		text
*.dpr		text
*.dsk		text
*.h		text
*.html	text
*.java	text
*.md		text
*.pas		text
*.pem		text
*.png		-text
*.pro		text
*.py		text
*.rdef	text
*.res		-text
*.sh		eol=lf
*.sln		eol=crlf
*.txt		text
*.vcproj	eol=crlf
*.vcxproj	eol=crlf
*.xml		text
